.input-form{
	display: flex;	
	justify-content: space-between;
	flex-direction:column;

}

.box{
	width: 50%;
	height: 70%;
	margin: 0px 10px;
	display: flex;
	justify-content: center;
	align-items:center;

	background-color: salmon;
}

* input {
	width: 300px;
	border-radius: 5px;
	border: 0px;
	padding: 3px 7px;
}